@font-face {
  font-family: 'RobotoSlab';
  src: url('./RobotoSlab-VariableFont_wght.ttf') format('truetype');
}

body {
  text-align: center;
  margin: 0;
  font-family: 'RobotoSlab';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e2e36;
  color: #aaafb2;
}
p {
  margin: 0;
}
